
:root {
  --black:          #333333;
  --orange:         #CC6633;
  --green:          #A4CC33;
  --whiteLightness: 100%;
  --white:          hsl(0, 0%, var(--whiteLightness));
  --grayF4:         hsl(0, 0%, calc(var(--whiteLightness) - 4%));
  --greyF3:         hsl(0, 0%, calc(var(--whiteLightness) - 5%));
  --greyEC:         hsl(0, 0%, calc(var(--whiteLightness) - 7%));
  --greyD9:         hsl(0, 0%, calc(var(--whiteLightness) - 15%));
  --greyC4:         hsl(0, 0%, calc(var(--whiteLightness) - 23%));
  --grey99:         hsl(0, 0%, calc(var(--whiteLightness) - 40%));
  --grey66:         hsl(0, 0%, calc(var(--whiteLightness) - 60%));
}

@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

.form-wrapper {
  width: 500px;
  margin: 0 auto;
}

.App {
  text-align: center;
  margin-top: 30px;
}

nav {
  width: 300px;
  margin: 0 auto;
  background: #1C7CCC;
  height: 70px;
  line-height: 70px;
}

nav ul li {
  display: inline;
  list-style-type: none;
  text-align: center;
  padding: 30px;
}

nav ul li a {
  margin: 50px 0;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
  text-decoration: none;
}

table {
  margin-top: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
